version: '3.8'

services:

  init:
    image: busybox
    volumes:
      - temp:/rw
    entrypoint: ['sh', '-c', 'mkdir -p /rw/incomplete /rw/downloads /rw/database && chmod -R 777 /rw/incomplete /rw/downloads /rw/database']
    command: [ ]



  api:
    image: slskd/slskd:latest
    ports:
      - "5030:5030"
      - "5031:5031"
      - "50300:50300"
    volumes:
      - temp:/rw
    user: 1000:1000
    environment:
      APP_DIR: /app
      SLSKD_DOWNLOADS_DIR: /rw/downloads
      SLSKD_INCOMPLETE_DIR: /rw/incomplete
      SLSKD_REMOTE_CONFIGURATION: "true"
      SLSKD_SLSK_USERNAME: "ABCSlime"
      SLSKD_SLSK_PASSWORD: "Anej1234!"
    depends_on:
      - init

volumes:
  temp: