---
openapi: 3.1.0
info:
  title: OpenAPI definition
  version: v0
servers:
  - url: http://127.0.0.1:8080
    description: Generated server url
tags:
  - name: Health
    description: Health check endpoints
paths:
  "/health":
    get:
      tags:
        - Health
      summary: Health check
      description: Check if the SlskdDownload service is running
      operationId: healthCheck
      responses:
        '200':
          description: Service is UP
          content:
            application/json:
              schema:
                type: string
  "/":
    get:
      tags:
        - Health
      summary: Health check
      description: Check if the SlskdDownload service is running
      operationId: health
      responses:
        '200':
          description: Service is UP
          content:
            application/json:
              schema:
                type: string
components: {}
